#background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#change-btn{
    height: 50px;
    background-color: beige;
}
