*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;
}

body{
    background-color: #ffc0cb;
}

a{
    text-decoration: none;
    color:rgb(0, 119, 255);}

main{
    padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
}

.page-title{
    font-size: 2.2rem;
    color: rgb(236, 111, 182);
}

.projects{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    padding-top: 40px;
}

.project-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 255);
    height:200px;
    border-radius: 10px;
}

@media(min-width: 600px){
    .page-title{
        font-size: 4rem;
        margin-left: 0;
}
    main{
        margin-top: 0;
    }
}

@media(min-width: 1200px){
   .page-title{
    font-size: 9rem;
    color: rgb(236, 111, 182);
    text-wrap: nowrap;
    margin-left: -9px;
} 
    main{
        padding: 30px;
        padding-left: 35px;
        margin-top: -25px;
    }
    .project-card{
        height:300px;
    }
}

@media(min-width: 1150px){
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}