*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
}

h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
}

.page-title{
    font-size: 2rem;
}

.projects{
    width:100%;
    height:100%;
    padding: 10px;
}

.project-card{
    
}

