*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: beige;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4{
    font-size: 1.8rem
}

#card{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    padding: 15px;
    background-color: black;
    font-size: 1.8rem;
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(5px 5px 10px black);
}

#name{
    color: pink;
}
