*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
}

#title{
    font-size: 100px;
    width: fit-content;
    margin: 0 auto;
    font-family: "Oleo Script";
    font-weight: 200;
}

#subtitle{
    font-size: 30px;
    width: fit-content;

}

#bar{
    margin: 40px 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.line{
    background-color: black;
    width:40%;
    height:3px;
}

#menu{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 40px;
    place-items: center;
}

.item{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    align-items: end;
    box-shadow: 1px 1px 20px rgb(0,0,0,.2);
}

.item-text{
    background-color: beige;
    height: fit-content;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

.item:hover{
    background-color: rgb(255, 188, 65);
}