*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


nav ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
}

#submit{
    height: 40px;
}

#title,
#content{
    padding: 20px;
}

#title{
    margin-bottom: 10px;
}

#inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 20px;
}

#content{
    height: 200px;
}

#blog-posts{
    height: 100vh;
    width: 500px;
    border: solid black 1px;
    padding: 20px;
}

.post{
    margin-bottom: 30px;
}

.post h3{
    margin-bottom: 10px;
}

header{
    padding: 20px;
    background-color: rgb(7, 6, 6);
    color: rgb(242, 242, 242);
}

#yes{
    display: flex;
    justify-content: end;
    gap: 20px;
}

#links{
    padding: 20px;
    border: black solid 1px;
    height: fit-content;
    margin-right: 20px;
    margin-top: 20px;
}

#links ul{
    list-style:none;
}

#links a{
    text-decoration: none;
}