*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    padding: 30px;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#display-wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    padding-top: 30px; 
    border-top: 1px solid rgb(198, 198, 198);
    border-right: 1px solid rgb(198, 198, 198);
    border-left: 1px solid rgb(198, 198, 198);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input{
    border: none;
    width: 100%;
    color: black;
    font-size: 3rem;
    padding: 0;
}

input:focus{
    outline: none;
}

#input-values{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
}

.label{
    margin-bottom: 10px;
    color: grey;
}

#result{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: rgb(188, 248, 255, .3);
    border-radius: 10px;
    color: rgb(0, 181, 194);
    margin-bottom: 30px;
}

#result i{
    color:rgb(0, 181, 194, 0.5)
}
#result .label{
    color: rgb(0, 181, 194);
}

#val-plusminus{
    display: flex;
    gap: 20px;
    font-size: 2rem;
    align-items: center;
    padding-top: 10px;
}

#val-plusminus i{
    font-size: 1.5rem;
}

#split-wrapper,
#total-wrapper{
    width: 150px;   
}

#total{
    width: 150px;
    font-size: 3rem;
    overflow: scroll;
}

#numpad{
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);    
    align-items: center;
    justify-items: center;
    border-top: solid rgb(198, 198, 198) 1px;
    border-left: solid rgb(198, 198, 198) 1px;
    border-bottom-left-radius: 20px;
    user-select: none;
}

#numpad button{
    all: unset;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    border-right: solid rgb(198, 198, 198) 1px;
    border-bottom: solid rgb(198, 198, 198) 1px;
}

#numpad button:nth-last-child(3){
    border-bottom-left-radius: 20px;
}

#numpad button:last-child{
    border-bottom-right-radius: 20px;
}

button.del{
    pointer-events: none;
}

#guide{
    margin-bottom: 50px;
    padding-left: 40px;
    color:rgb(0, 181, 194)
}


/*

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
}

.window{
    position: relative;
    width: 600px;
    height: 256px;
    background-color: black;
    background-image: url("1d.jpg");
    background-size: cover;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.caption {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: rgba(6, 72, 6, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.bill-input{
    position: relative;
}

.bill-input::before {
  content: "$";
  font-size: 1.4rem;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.tip-percentage-input{
    position: relative;
}

#tip-percent{
    padding-right: 30px;
}

.tip-percentage-input::before{
    position: absolute;
    content: "%";
    top:50%;
    right: 12px;
    transform: translateY(-50%);
}

input{
    padding-left: 30px;
}

#reset{
    position: absolute;
    top: 200px;
}

#tip-display{
    color: white;
    font-size: 2rem;
    background-color: green;
    padding: 10px;
}

*/